.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  min-width: 380px;
}

.full {
  width: 100%;
}

.btn-cta {
  background: var(--an-cta);
  color: #fff;

  &:hover {
    background: var(--an-cta-hover);
  }
}

@media (max-width: 440px) {
  .form {
    min-width: auto;
  }
}
